.input-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 5px;
  margin: 30px auto;
  border: solid 1px #673ab7;

  .loginHeader {
    background-color: #673ab7;
    color: white;
    padding: 5px 0;
    text-align: center;
    font-weight: bold;
  }
}

.input-container > * {
  width: 100%;
}
